*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-size: 100%;
    background-image: url(/img/fondo6.jpeg);
    background-attachment: fixed;
    color: aliceblue;
}







/*--------------------------------- Encabezado --------------------------------------*/
.header{
    grid-area: header;
    
}

.bg-nav{
    background-color: #844DAD;
}

.nav-link, .navbar-brand{
    color: aliceblue;
    text-decoration: none;
}

.btn{
    background-color: #844DAD;
    color: aliceblue;
}
/*--------------------- Fin encabezado---------------------------- */











/* -----------------------------footer ------------------------------*/

.footer{
    display: grid;
    grid-area: footer;
}
.nav-footer{
    background-color: #844DAD;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    flex-direction: row;
    width: 10em;
    height: auto;
    border-radius: 50%;
}

.nav-footer h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65%;
    color: aliceblue;
}
.box-footer{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-footer img{
    width: 10%;
    height: 100%;
    border-radius: 50%;
}

.box-social{
    width: auto;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.box-social img{
    width: 3em;
    height: 3em;
    padding: 2px;
}

.box-social h4{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 1px;
    color: aliceblue;
}
/* -----------------------------------------fin footer------------------------------ */
















    /*   -------------------------------I N I C I O----------------------------- */

/* Main */

.body-grid-inicio{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5em auto 1fr;
    grid-template-areas: "header"
    "main"
    "footer";
}

.main-inicio{
    display: grid;
    grid-area: main;
    gap: 5px;
}

.carousel{
    height: 70%;
}




/*    Titulo       */

.main-title-inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

/*    Fin titulo    */

/*     IMAGENES     */

.container-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5em 0 5em 0;
}


.box-img{
    width: 30%;
    display: inline-block;
    align-items: center;
}

.box-img:hover{
    transform: scale(1.5);
    transition: all 2s;
}

.box-img img{
    width: 100%;
    height: 70%;
}
/* FIN IMAGENES */

/*      Fin main        */

/* --------------------------------------F I N    I N I C I O ------------------*/


















/* ---------------------------------------------NOSOTROS----------------------------------------- */

.body-grid-nosotros{
    display: grid;
    grid-template-areas:"header header header"
    "main main main"
    "footer footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: 2fr 2fr 2fr;   
}

.main-nosotros{
    grid-area: main;
    display: grid;
    grid-template-areas: "dir dir dir"
    "info info info"
    "mision objetivos lema";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 30em;
    gap: 2em;
}

.dir{
    grid-area: dir;
}

.box-dir{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ceo, .vice{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.dir img{
    height: 30em;
    border-radius: 50%;
}

.dir p{
    font-size: 3em;
}

.info{
    grid-area: info;
    width: 100%;
    display: flex;
    justify-content: center;
}
.info-p{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    font-size: 2em;
}

.mision{
    grid-area: mision;
}

.objetivos{
    grid-area: objetivos;
}
.lema{
    grid-area: lema;
}

.mision, .objetivos, .lema{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 5em;
    padding-bottom: 3em;
}

.mision img, .objetivos img, .lema img{
    border-radius: 50%;
}



/* -----------------------------------FIN NOSOTROS------------------------------------- */



















/* ------------------------- NUESTROS CLIENTES---------------------------------- */

.body-grid-nc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header header"
    "main main main"
    "footer footer footer";
}


.main-nc{
    grid-area: main;
}

.main-nc img{
    width: 60%;
    height: 60%;
}


#box-refer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#box-refer:hover{
    transform: scale(1.5);
    transition: all 2s;
}


/* --------------------------- FIN NUESTROS CLIENTES----------------------- */














/* -----------------------------CONTACTO-------------------------------- */

.body-grid-contacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header header"
    "main main main"
    "footer footer footer";
    gap: 2em;
}

.main-contacto{
    width: 100%;
    height: auto;
    grid-area: main;
}

.medios-contacto img{
    width: 10vh;
    height: 10vh;
}







/* ---------------FIN CONTACTO---------------- */
















/* ------------------------SERVICIOS---------------------------- */

.body-grid-servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header header header"
    "main main main"
    "footer footer footer";
}

.main-servicios{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50em 20em 20em;
    grid-template-areas:
    "ns ns ns"
    "op1 op2 op3"
    "op4 op5 op6";
    justify-content: center;
    justify-items: center;
}

.img-ns{
    grid-area: ns;
    width: 100%;
    display: inline-block;
    position: relative;
}

.img-ns img{
    width: 100%;
    height: 80%;
}

.img-ns p{
    width: 30%;
    font-size: 25px;
    position: absolute;
    bottom: 6em;
    z-index: 1;
    color: black;
}

.op1{
    grid-area: op1;
}
.op2{
    grid-area: op2;
}
.op3{
    grid-area: op3;
}
.op4{
    grid-area: op4;
}
.op5{
    grid-area: op5;
}
.op6{
    grid-area: op6;
}

.op1, .op2, .op3, .op4, .op5, .op6{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

.op1 img, .op2 img, .op3 img, .op4 img, .op5 img, .op6 img{
    width: 30vh;
    height: 30vh;
    border-radius: 30%;
}






@media screen and (max-width: 800px) {

    .bg-nav{
        justify-content: center;
        align-items: center;
    }

    .nav-footer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    /* -----------INICIO-------------- */

    .main-title-inicio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5em;
    }
    
    .container-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .box-img{
        width: 80%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    .dir img{
        width: 70%;
        height: 70%;
    }

    /* -------------FIN INICIO------------------ */

    

    /*-------------------NOSOTROS------------ */

    .body-grid-nosotros{
        display: grid;
        grid-template-areas:"header"
        "main"
        "footer";
        grid-template-rows: auto auto auto;
        grid-template-columns: 100%;   
    }

    .main-nosotros{
        grid-area: main;
        display: grid;
        grid-template-areas: "dir"
        "info"
        "mision"
        "objetivos" 
        "lema";
        grid-template-columns: 100%;
        grid-template-rows: auto auto 20em 20em 20em;
        gap: 2em;
    }

    .box-dir{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .dir p{
        font-size: 2em;
    }

    .ceo, .vice{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 2em;
    }

    .info{
        width: 100%;
    }

    .info-p{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        font-size: 1em;
        padding: 1em;
    }
    
    
    .mision, .objetivos, .lema{
        width: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    /* --------------FIN NOSOTROS-------------- */

}

@media (min-width: 800px) and (max-width: 1000px) {

    /* ---------------------------INICIO------------ */
    .bg-nav{
        justify-content: center;
        align-items: center;
    }

    .container-box{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 5em 0 5em 0;
        
    }

    .box-footer{
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /* --------------FIN INICIO------------------ */


    
}